<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Ingreso de inventarios</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Ingreso de Inventarios</h1>


    <div class="d-flex flex-row m-2">

        <div class="">

            <div>
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha" id="fecha" th:value="${compra.fechaRegistro}"/>
            </div>
            <div>
                <label for="codigoFactura">Codigo Factura:</label>
                <input type="text" name="codigoFactura" id="codigoFactura" th:value="${compra.codigoFactuar}"/>
            </div>
            <div>
                <label for="nitProveedor">Nit del proveedor:</label>
                <input type="text" name="nitProveedor" id="nitProveedor" th:value="${compra.nitProveedor}"/>

            </div>
            <div>

                <label for="nombreProveedor">Nombre del proveedor:</label>
                <input type="text" name="nombreProveedor" id="nombreProveedor" th:value="${compra.nitProveedor}">

            </div>


        </div>

    </div>


    <hr>

    <div class="d-flex flex-row gap-md-5 m-2">

        <form action="" method="get">
            <label for="codigo">Codigo:</label>
            <input type="text" name="codigo" id="codigo">
            <button type="button" id="btnBuscarCodigo">Buscar</button>
        </form>


        <form action="" method="get">

            <label for="codigoBarras">Codigo de Barras:</label>
            <input type="text" name="codigoBarras" id="codigoBarras">
            <button type="button" id="btnBuscarCodigoBarras">Buscar</button>
        </form>


    </div>
    <hr>

    <div class="d-flex flex-row gap-md-5 m-2">

        <form method="get" action="">


            <div class="d-flex flex-row m-2">

                <div>
                    <label for="idProducto">id Producto:</label>
                    <input type="number" name="idProducto" id="idProducto" readonly/>
                </div>
                <div>
                    <label for="producto">Nombre Producto:</label>
                    <input id="producto" type="text" name="producto" readonly/>
                </div>

                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad" min="1" VALUE="1"/>
                <button class="btn btn-success" type="button" id="btnAdicinarDteProducto">Adicionar+</button>
            </div>
        </form>

    </div>

    <hr>
    <div class="row">

        <table class="table table-hover">
            <tr>
                <td>Codigo</td>
                <td>Codigo Barras</td>
                <td>Nombre</td>
                <td>Cantidad</td>
                <td>Valor unidad</td>
                <td>Valor Total</td>
            </tr>
            <tbody>
            <tr>
                <td>Cod-452</td>
                <td >77785282</td>
                <td>Teclado Usb</td>
                <td>1</td>
                <td>50.000</td>
                <td>50.000</td>
            </tr>

            </tbody>
        </table>

    </div>

    <script th:inline="javascript" type="application/javascript">

        var compraRowid = [[${compra.rowid}]] ;



        $(document).ready(function () {

            $.ajax({
                type:"get",
                url:"/compras/detalleCompra/1",
                success:function (dat){
                    console.log(dat);
                },
                dataType:"json",
                error:function (err){
                    console.log(err)
                }
            })


        });

        $("#btnBuscarCodigo").click(function (e) {
            let url = "/compras/buscarProductoCodInterno/"
            let codigo = $("#codigo").val();

            $.ajax({
                type: "GET",
                url: url + codigo,

                success: function (data) {

                    $("#idProducto").val(data.id)
                    $("#producto").val(data.descripcion)

                    console.log(data)

                },
                dataType: "json",
                error: function (e) {
                    console.log(e)
                    $("#idProducto").val("")
                    $("#producto").val("")
                }
            });


        })

        $("#btnAdicinarDteProducto").click(function (e) {
             let detalleCompra={
                 "rowidProducto":$("#idProducto").val() ,
                 "rowidCompra":compraRowid,
                 "cantidad":$("#cantidad").val(),
                 "cantidadAnterior":0



             }



             console.log(detalleCompra);

             $.ajax({
                 type: "POST",
                 url: "/compras/add/detalle-compra",
                 contentType : "application/json",
                 data : JSON.stringify(detalleCompra),
                 dataType : 'json',
                  success: function (d) {
                      console.log(d)
                  }
             })


        });




    </script>

</div>


</body>
</html>