<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Ingreso de inventarios</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Ingreso de Inventarios</h1>


    <div class="d-flex flex-row m-2">

        <div class=" d-flex ">

            <div>
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha" id="fecha" th:value="${compra.fechaRegistro}"/>
            </div>
            <div>
                <label for="codigoFactura">Codigo Factura:</label>
                <input type="text" name="codigoFactura" id="codigoFactura" th:value="${compra.codigoFactuar}"/>
            </div>
            <div>
                <label for="nitProveedor">Nit del proveedor:</label>
                <input type="text" name="nitProveedor" id="nitProveedor" th:value="${compra.nitProveedor}"/>

            </div>
            <div>

                <label for="nombreProveedor">Nombre del proveedor:</label>
                <input type="text" name="nombreProveedor" id="nombreProveedor" th:value="${compra.razonSocialProveedor}">

            </div>


        </div>

    </div>


    <hr>

    <div class="d-flex flex-row gap-md-5 m-2">

        <form action="" method="get">
            <label for="codigo">Codigo:</label>
            <input type="text" name="codigo" id="codigo">
            <button type="button" id="btnBuscarCodigo">Buscar</button>
        </form>


        <form action="" method="get">

            <label for="codigoBarras">Codigo de Barras:</label>
            <input type="text" name="codigoBarras" id="codigoBarras">
            <button type="button" id="btnBuscarCodigoBarras">Buscar</button>
        </form>


    </div>
    <hr>

    <div>

          <form th:action="@{/compras/add/detalle-compra}" th:object="${dataDteCompraDTO}" th:method="post">
              <div>
                  <label for="rowidCompra">Rowid Compra:</label>
                  <input type="number" name="rowidCompra" id="rowidCompra" th:value="${compra.rowid}" readonly th:field="*{rowidCompra}" required>

              </div>
              <hr>

            <div class="d-flex flex-row">



                <div>
                    <label for="idProducto">id Producto:</label>
                    <input type="number" name="idProducto" id="idProducto" readonly  th:field="*{rowidProducto}"/>
                </div>
                <div>
                    <label for="producto">Nombre Producto:</label>
                    <input id="producto" type="text" name="producto" readonly th:field="*{nombreProducto}"/>
                </div>
                <div>
                    <label for="valorProducto">Valor Producto $:</label>
                    <input id="valorProducto" type="number" name="valorProdcuto" readonly th:field="*{valorProducto}"/>
                </div>
                <div>
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" id="cantidad" th:min="1" th:field="*{cantidad}" required/>
                </div>
                 <div>
                     <label for="btnAdicinarDteProducto"></label>
                     <button class="btn btn-info" type="submit" id="btnAdicinarDteProducto">Adicionar+</button>
                 </div>

            </div>
          </form>

    </div>

    <hr>
    <div class="row">

        <table class="table table-hover">
            <tr>
                <td>Codigo</td>
                <td>Codigo Barras</td>
                <td>Nombre</td>
                <td>Cantidad</td>
                <td>Valor unidad</td>
                <td>Valor Total</td>
                <td>Operaciones</td>
            </tr>
            <tbody>
            <tr th:each="detalleCompra:${detalleCompras}">
                <td th:text="${detalleCompra.producto.codigoInterno}"></td>
                <td th:text="${detalleCompra.producto.codigoBarras}"></td>
                <td th:text="${detalleCompra.producto.descripcion}"></td>
                <td th:text="${detalleCompra.cantidad}">1</td>
                <td th:text="${detalleCompra.producto.valor}"></td>
                <td th:text="${detalleCompra.cantidad}*${detalleCompra.producto.valor}"></td>
                <td>
                    <a th:href="@{/compras/eliminarDteCompra/{id}(id=${detalleCompra.rowid})}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>

            </tbody>
        </table>
        <div>
            <label for="valorTotal">ValorTotal:</label>
            <input id="valorTotal"  name="valorTotal" class="text-bg-dark" type="number" th:value="${valorTotal}" readonly/>

        </div>

    </div>

    <script th:inline="javascript" type="application/javascript">

        var compraRowid = [[${compra.rowid}]] ;



        $(document).ready(function () {
                     /*
                        $.ajax({
                            type:"get",
                            url:"/api/detallecompra/listar",
                            success:function (dat){
                                console.log(dat);
                            },
                            dataType:"json",
                            error:function (err){
                                console.log(err)
                            }
                        })*/


        });

        $("#btnBuscarCodigo").click(function (e) {
            let url = "/compras/buscarProductoCodInterno/"
            let codigo = $("#codigo").val();

            $.ajax({
                type: "GET",
                url: url + codigo,

                success: function (data) {

                    $("#idProducto").val(data.id);
                    $("#producto").val(data.descripcion);
                    $("#valorProducto").val(data.valor);

                    console.log(data)

                },
                dataType: "json",
                error: function (e) {
                    console.log(e)
                    $("#idProducto").val("")
                    $("#producto").val("")
                }
            });


        })
/*
        $("#btnAdicinarDteProducto").click(function (e) {
             let detalleCompra={
                 "rowidProducto":$("#idProducto").val() ,
                 "rowidCompra":compraRowid,
                 "cantidad":$("#cantidad").val(),
                 "cantidadAnterior":0



             }



             console.log(detalleCompra);

             $.ajax({
                 type: "POST",
                 url: "/compras/add/detalle-compra",
                 contentType : "application/json",
                 data : JSON.stringify(detalleCompra),
                 dataType : 'json',
                  success: function (d) {

                     console.log("termian la funcioin")

                  }
             })


        });*/




    </script>

</div>


</body>
</html>