<!DOCTYPE html>
<html
        lang="es"
        xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Ingreso Inventario</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Ingreso de Inventarios</h1>

    <div class="container m-2">


        <form action="" method="post">
            <div class="d-flex flex-row m-2">

                <div>
                    <label for="fecha">Fecha</label>
                    <input type="date" name="fecha" id="fecha">
                </div>
                <div>
                    <label for="codigoFactura">Codigo Factura:</label>
                    <input type="text" name="codigoFactura" id="codigoFactura">
                </div>
                <div>

                    <label for="nombreProveedor">Nombre del proveedor:</label>
                    <input type="text" name="nombreProveedor" id="nombreProveedor">

                </div>

            </div>

            <button>Registrar</button>


        </form>

    </div>


</div>

</body>
</html>